<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>apisearch</name>
	<displayName><![CDATA[Apisearch]]></displayName>
	<version><![CDATA[1.2.3]]></version>
	<description><![CDATA[Search over your products, and give to your users unique, amazing and unforgettable experiences.]]></description>
	<author><![CDATA[Apisearch Team]]></author>
	<tab><![CDATA[search_filter]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>
